* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.game {
	height: 100vh;
	background: rgb(74, 61, 99);
	color: rgb(199, 203, 243);
}

.score {
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.score p {
	font-size: 20px;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 80vh;
	font-size: 30px;
	transition: opacity 0.5s ease;
}

button {
	background: transparent;
	border: none;
	color: rgb(199, 203, 243);
	font-size: 20px;
	background-color: rgb(53, 43, 71);
	padding: 0.8rem 1.5rem;
	cursor: pointer;
	border-radius: 3px;
	text-transform: uppercase;
}

.match {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: opacity 0.5s ease 0.5s;
}

.match h1 {
	font-size: 40px;
}

.player-hand {
	transform: rotateY(180deg);
}

.options button:not(:last-child) {
	margin-right: 50px;
}

div.fade-out {
	opacity: 0;
	pointer-events: none;
}

div.fade-in {
	opacity: 1;
	pointer-events: all;
}

@keyframes shakePlayer {
	0% {
		transform: rotateY(180deg) translateY(-15px);
	}
	15% {
		transform: rotateY(180deg) translateY(0px);
	}
	25% {
		transform: rotateY(180deg) translateY(-15px);
	}
	35% {
		transform: rotateY(180deg) translateY(0px);
	}
	50% {
		transform: rotateY(180deg) translateY(-15px);
	}
	65% {
		transform: rotateY(180deg) translateY(0px);
	}
	75% {
		transform: rotateY(180deg) translateY(-15px);
	}
	85% {
		transform: rotateY(180deg) translateY(0px);
	}
	100% {
		transform: rotateY(180deg) translateY(-15px);
	}
}

@keyframes shakeComputer {
	0% {
		transform: translateY(-15px);
	}
	15% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-15px);
	}
	35% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-15px);
	}
	65% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-15px);
	}
	85% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-15px);
	}
}
